swagger: "2.0"
info:
  title: Optimus API
  version: "0.1.0"
# during dev, should point to your local machine
host: wmp-mobileapi-dev.azurewebsites.net
# basePath prefixes all resource paths
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  auth:
    type: basic
security:
  - auth: []
tags:
  - name: exhibitor
    description: Information about the exhibitor's theaters and showtimes
paths:
  /swagger:
    x-swagger-pipe: swagger_raw
  /theaters:
    get:
      tags: [exhibitor]
      parameters:
        - $ref: "#/parameters/exhibitorCode"
        - $ref: "#/parameters/latitude"
        - $ref: "#/parameters/longitude"
        - $ref: "#/parameters/radius"
        - $ref: "#/parameters/unit"
        - $ref: "#/parameters/minimumResults"
      responses:
        200:
          description: A list of theaters that satisfies the parameters
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: "#/definitions/LightTheater"
  /theaters/single/{theaterId}:
    get:
      tags: [exhibitor]
      parameters:
        - $ref: "#/parameters/exhibitorCode"
        - in: path
          name: theaterId
          type: string
          required: true
        - $ref: "#/parameters/firstDate"
        - $ref: "#/parameters/lastDate"
      responses:
        200:
          description: Detailed data about the requested theater
          schema:
            properties:
              data:
                $ref: "#/definitions/FullTheater"
  /movies/single/{movieId}:
    get:
      tags: [exhibitor]
      parameters:
        - in: path
          name: movieId
          type: string
          required: true
          description: Either a movie id or cinemaSourceId
        - $ref: "#/parameters/exhibitorCode"
        - $ref: "#/parameters/latitude"
        - $ref: "#/parameters/longitude"
        - $ref: "#/parameters/radius"
        - $ref: "#/parameters/unit"
        - $ref: "#/parameters/minimumResults"
        - $ref: "#/parameters/firstDate"
        - $ref: "#/parameters/lastDate"
      responses:
        200:
          description: Detailed data about the requested movie
          schema:
            type: object
            properties:
              data:
                $ref: "#/definitions/FullMovie"
  /movies/{releaseType}:
    get:
      tags: [exhibitor]
      parameters:
        - in: path
          name: releaseType
          type: string
          enum: [nowplaying, comingsoon]
          required: true
        - $ref: "#/parameters/exhibitorCode"
        - $ref: "#/parameters/latitude"
        - $ref: "#/parameters/longitude"
        - $ref: "#/parameters/radius"
        - $ref: "#/parameters/unit"
        - $ref: "#/parameters/minimumResults"
      responses:
        200:
          description: A list of movies of the requested type
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: "#/definitions/LightMovie"
definitions:
  Date:
    type: string
    pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:d{2}:d{2}
  LightTheater:
    required:
      - id
      - boxofficeId
      - name
      - location
    properties:
      id:
        type: string
      boxofficeId:
        type: string
      name:
        type: string
      location:
        $ref: "#/definitions/Location"
      image:
        type: string
        format: uri
      # tickets:
      #  type: array
      geoSearchResult:
        type: object
        properties:
          distance:
            type: number
          distanceUnit:
            type: string
            enum: [Kilometers, Miles]
          status:
            type: string
            enum: [InRange, MakeWeight, Kept]
  Location:
    properties:
      address1:
        type: string
      address2:
        type: string
      city:
        type: string
      state:
        type: string
      zipCode:
        type: string
      geolocation:
        $ref: "#/definitions/Geocoordinates"
  Geocoordinates:
    required:
      - latitude
      - longitude
    properties:
      latitude:
        type: number
      longitude:
        type: number
  FullTheater:
    allOf:
      - $ref: "#/definitions/LightTheater"
      - type: object
        properties:
          email:
            type: string
            format: email
          phone:
            type: string
          timezone:
            type: string
          description:
            type: string
          movies:
            type: array
            items:
              $ref: "#/definitions/LightMovieWithShowtimes"
          attributes:
            type: array
            items:
              $ref: "#/definitions/Attribute"
  BaseMovie:
    required:
      - id
      - cinemaSourceId
      - title
    properties:
      id:
        type: string
      cinemaSourceId:
        type: integer
      title:
        type: string
      sortOrder:
        type: integer
      releaseType:
        type: string
        enum: [Undefined, ComingSoon, NowPlaying]
      releaseDate:
        $ref: "#/definitions/Date"
      certification:
        type: string
        # todo list all certifications
        enum: [G, PG, PG13, R, NC17, UR]
      duration:
        type: string
        description: Integer representation of movie duration in minutes
      mediaItems:
        type: array
        items:
          properties:
            type:
              type: string
              enum: [Trailer, Still, Poster]
            url:
              type: string
              format: uri
  LightMovie:
    allOf:
      - $ref: "#/definitions/BaseMovie"
      - type: object
        properties:
          isScheduled:
            type: boolean
  LightMovieWithShowtimes:
    allOf:
      - $ref: "#/definitions/BaseMovie"
      - type: object
        properties:
          showdates:
            type: array
            items:
              $ref: "#/definitions/Showdate"
  Attribute:
    type: object
    required:
      - id
      - name
      - attributeType
      - priority
    properties:
      id:
        type: string
      name:
        type: string
      attributeType:
        type: integer
        # todo list all attribute types and describe meaning
        enum: [1]
      priority:
        type: integer
  Showdate:
    type: object
    properties:
      date:
        $ref: "#/definitions/Date"
      showtimes:
        type: array
        items:
          $ref: "#/definitions/Showtime"
  Showtime:
    type: object
    properties:
      id:
        type: string
      startDateTime:
        type: string
        format: date-time
      isSoldOut:
        type: boolean
      isBookable:
        type: boolean
      attributes:
        type: array
        items:
          $ref: "#/definitions/Attribute"
      redirectTicketingUrl:
        type: string
        format: uri
  FullMovie:
    allOf:
      - $ref: "#/definitions/BaseMovie"
      - type: object
        properties:
          longSynopsis:
            type: string
          shortSynopsis:
            type: string
          trailer:
            type: string
            format: uri
          photoGallery:
            type: array
            items:
              type: object
              properties:
                imageUrl:
                  type: string
                  format: uri
                id:
                  type: string
          cast:
            type: array
            items:
              $ref: "#/definitions/Person"
          director:
            $ref: "#/definitions/Person"
          review:
            type: object
            properties:
              userRating:
                type: number
              pressRating:
                type: number
          theaters:
            type: array
            items:
              allOf:
                - $ref: "#/definitions/LightTheater"
                - type: object
                  properties:
                    showdates:
                      type: array
                      items:
                        $ref: "#/definitions/Showdate"
  Person:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      imageUrl:
        type: string
        format: uri

parameters:
  exhibitorCode:
    in: header
    name: Exhibitor-Code
    type: string
    required: true
  latitude:
    in: query
    name: latitude
    type: number
  longitude:
    in: query
    name: longitude
    type: number
  radius:
    in: query
    name: radius
    type: number
  unit:
    in: query
    name: unit
    type: string
  minimumResults:
    in: query
    name: minimumResults
    type: integer
    description: The minimum number of results when filtering by geolocation
  firstDate:
    in: query
    name: firstDate
    type: string
    format: date
  lastDate:
    in: query
    name: lastDate
    type: string
    format: date
